.changePasswordFormDefault {
    display: flex;
    flex-direction: column;
}

.changePasswordFormDefault input {
    margin: 15px 0;
}

.changePasswordFormDefault button {
    width: 100% !important;
    margin-top: 15px;
}